footer
{
	width: 100%;
  	text-align: center;
	margin-bottom: 0px;
	margin-top: 10%;
	background-color: #270000;
	color: #fff;
	font-size: 150%;
	text-decoration: none;
	padding-top: 20px;
}

.x, .x:visited
{
	color: #ff0000;
}
.reseaux
{
	margin-left: 1%; 
	margin-right: 1%; 
	width: 10%;
	max-height: 100%;
	display: flex;
}

.imgreseaux
{
	width: 50%;
}

.imgfb, .imgig
{
	width: 94%;
	position: relative;
	top: 25%;
	height: 50%;
}
.imgig
{
	padding-left: 25%;
	padding-right: 2%
}
.imgfb
{
	padding-left: 2%;
	padding-right: 25%;
}