body
{
	margin: 0;
}

svg
{
	position: absolute;
	top: 0;

}

#main
{
	
}

#texte
{
	position: relative;
	top: 40%;
	width: 100%;
	display: block;
	margin: 0;
	line-height: 110px;
}

h1
{
	/*width: 100%;*/
	color: white;
	text-align: center;
	font-size: 500%;
	margin: 0;
}

h2
{
	color: white;
	text-align: center;
	font-size: 150%;
	margin: 0;
	font-weight: normal;
}

#texte > a
{
	/*display: flex;
	align-items: center;*/
	text-decoration: none;
	background-color: white;
	padding: 18px 45px 18px 45px;
	border-radius: 12px;
	text-align: center;
	margin: auto;
}
