
h1.titre
{
	text-align:center;
  font-family: Georgia, serif;
  margin-bottom: 30px;
}

form
{
  text-align: left;
  line-height: 2em;
}

/*#artistediv, #datediv, #heurediv, #extint, #sallediv, #extdiv, #adressdiv, #villediv, #cpdiv, #departementdiv, #regiondiv, #paysdiv
{
  display: block;
}*/

input, label
{
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.connect
{  
  display: inline-block;
  width: 50%;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.7),
  2px 4px 40px rgba(255, 255, 255, 0.6) inset;
  background-color:#5c0000;
  color: white;
}

#extint
{
  display: flex;
}

#sallediv, #extdiv, #infosx
{
  visibility: hidden;
  display: none;
}

.indentfi
{
  width: 100%;
  text-align: center;
}

.input x
{
  border: 1px solid black;
  background-color: #8F8F8F;
  color: white;
}

select, option  
{
  background-color:#F3F3F3;
  color: white;
}

option
{
  color: black;
}

select#details
{
  margin-left: 3%;
}

input.bouton
{ 
  width: 100px;
  height: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

#divSchedule
{
  display: block;
  background-color: #fff;
  border: 2px solid grey;
  text-align: center;
  margin-bottom: 15px;
}



#dahe
{
  background-color: #440303;
  color: #fff;
  font-size: 1.5em;
  text-decoration: underline;
}

#pdate
{
  color: #800000;
  font-weight: 900;
  font-size: 2.5em;
}

#pheure
{

}



#partiste
{
  color: #fff;
  font-weight: 700;
  font-size: 2.3em;
  background-color: black;
  border-bottom: 5px solid white;
}



#pacp
{
  background-color: #9f0505;
  color: #fff;
  font-size: 1.5em;
  text-decoration: underline;
}

#ppays
{
  color: #6c6c6c;
}

#pville
{
  color: #6c6c6c;
  text-decoration: bold;
  font-size: 1.3em
}

#pcp
{

}

#saad
{
  background-color: #e90606;
  color: #fff;
  font-size: 1.5em;
  text-decoration: underline;
}

#psalle
{
  color: #6c6c6c;
}

#padresse
{
  color: #6c6c6c;
}

#pcp, #padresse, #psalle, #pville, #ppays, #pheure, #pdate, #partiste
{
  padding-top: 5px;
  padding-bottom: 5px;
}

#boutons
{
  display: flex;
}

#ouisaisie
{
  margin-left: 10%;
  width: 35%;
  margin-right: 5%;
}

#nonsaisie
{
  margin-left: 5%;
  width: 35%;
  margin-right: 10%;
}

#res, #resx, #resv, #resw
{
  font-style: italic;
}

button
{
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border-color: var(--color-btn-border);
  box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
  transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: all;
  transition-property: color,background-color,border-color;
  cursor: pointer;
}

button:hover
{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}