#main
{
  margin-left: 12%;
}

h2
{
  font-family: Montserrat,sans-serif;
  margin-bottom: 30px;
  color: #6c6c6c;
}

.form-example
{  
  display: inline-block;
  margin-top: auto;
  margin-left: auto; 
  margin-right: auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.7),
  2px 4px 40px rgba(255, 255, 255, 0.6) inset;
  background-color:#5c0000;
  color: white;
  width: 40%;
  text-align: center;
}

.formin
{
  width: 100%;
}

.input x
{
  border: 1px solid black;
  background-color: #8F8F8F;
  color: white;
}

select, option 
{
  background-color:#F3F3F3;
  color: white;
}

option
{
  color: black;
}

select#details
{
  margin-left: 3%;
}

input.bouton
{ 
  width: 100px;
  height: 30px;
  color: #3a0101;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.connexion
{
  text-align: center;
  margin-top: 15px;
  text-decoration: underline;
}

.form
{
  margin-left: 15px;
  margin-right: 15px;
}

#oubli
{
  text-decoration: none;
  color: #6c6c6c;
}

#oubli:hover
{
  color: #a6a6a6;
}

#inscription
{
  margin-top: 30px;
  background-color: #e3d5cd;
  width: 60%;
  color: #6c6c6c;
}

#notmemberunder
{
  margin-top: 15px;
  line-height: 2em;
}

#notmember
{
  font-size: 1.7em;
}

#inscription a
{
  font-size: 1.3em;
  background-color: #420101;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

#bref
{
  margin-top: 30px;
}