#inthiddiv
{
	visibility: hidden;
	display: none;
}

#exthiddiv
{
	visibility: hidden;
	display: none;
}

#connect
{  
  display: inline-block;
  width: 50%;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.7),
  2px 4px 40px rgba(255, 255, 255, 0.6) inset;
  background-color:#5c0000;
  color: white;
  text-align: center;
}

h1.titre
{
	text-align:center;
	font-family: Georgia, serif;
	margin-bottom: 30px;
}

#submit
{
	margin-top: 30px;
}