#main
{
  width: 100%;
  text-align: center;
}

#inthiddiv
{
	visibility: hidden;
	display: none;
}

#exthiddiv
{
	visibility: hidden;
	display: none;
}

#main
{
  font-family: 'Noto Sans', Sans-Serif;
}

#connect
{  
  display: inline-block;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.7),
  2px 4px 40px rgba(255, 255, 255, 0.6) inset;
  background-color:#5c0000;
  color: white;
}

#datediv, #heurediv, #extint, #sallediv, #extdiv, #adressdiv, #villediv, #cpdiv, #departementdiv, #regiondiv, #paysdiv 
{
  margin-bottom: 1rem;
}

#artistediv
{
  padding-bottom: 2.5rem;
}

label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.5rem;
  cursor: text;
}

#main form input:not(#int, #ext, #date, #heure, .artiste, .artisteadd), label, .artisteadddiv, .art
{
  margin-left: 3%;
  margin-right: 5%;
  width: 92%;
  height: 2rem;
}

.artisteadddiv, .art
{
  margin-bottom: 15px;
}

.artiste
{
  width: 70%;
  height: 2rem;
}

.artisteadd
{
  width: 80%;
  margin-right: 10px;;
  height: 2rem;
}

#add
{
  color: #fff;
  background-color: #d00d0d;
  border-color: #d00d0d;
  margin: 0;
  width: 25%;
  height: 2.3rem;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  width : 10%;
  height: 2.3rem;
}


h1.titre
{
	text-align: left;
	font-family: Georgia, serif;
	margin-bottom: 30px;
  margin-left: 3%;
}

#dateheure
{
  display: flex;
}

#datediv input, #heurediv input, #datediv label, #heurediv label {
  margin-left: 0;
  margin-right: 0;
  width: 92%;
  height: 2rem;
}

#datediv {
  width: 50%;
  margin-left: 3%;
}

#heurediv {
  width: 50%;
}

#int, #ext {
  margin-left: 3%;
}

#submit
{
	margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

#submit input
{
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border-color: var(--color-btn-border);
  box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
  transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: all;
  transition-property: color,background-color,border-color;
  cursor: pointer;
}

#submit input
{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#probleme h1
{
  text-align:center;
  font-family: Georgia, serif;
  margin-bottom: 30px;
}

#main form 
{  
  text-align: left;
  line-height: 1.8rem;
}

p input, textarea
{
  width: 100%;
}

#enregistrer 
{
  width: 100%;
  display: flex;
  justify-content: center;
}

#send
{
  margin-top: 0;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border-color: var(--color-btn-border);
  box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
  transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: all;
  transition-property: color,background-color,border-color;
  cursor: pointer;
  margin-top: 25px;
  text-align: center;
}

#send:hover
{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

button:hover
{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  cursor: pointer;
}

.star
{
  color: #E04562;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3f3c3c;
  opacity: 1; /* Firefox */
}

.res, #resx, #resv, #resw {
  font-style: italic;
  margin-left: 3%;
  margin-right: 5%;
  width: 92%;
}