#top
{
  position: relative;
  font-family: Georgia, serif;
  margin-bottom: 30px;
  background: rgba(0,0,0,.65);
  color: white;
  width: 100%;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

#top img
{
  width: 8%;
  margin-left: 2%;
}

#top h1
{
  margin-left: 5%;
  font-size: 2.25rem;
  font-family: "robotoboldcondensed",Arial,Helvetica,sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#onoff
{
  width: 3% !important;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
}

body
{
	text-align:center;
  height: 100%;
}

#main
{
  background-color: #eee2dd;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: 100%;
  display: inline-block;
}

#profil
{
  width: 100%;
  margin: 0;
}

#content
{
  display: flex;
  padding-bottom: 50px;
}

#infos, #pts
{
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: white;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  text-align: left;
  line-height: 1.7em;
  white-space: nowrap;
  font-size: 0.75rem;
  padding-left: 10px;
  padding-right: 10px;
}

h2
{
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 15px;
  color: #ff4000;
}

a
{
  text-decoration: none;
  color: #0160ee;
}

a:hover
{
  color: #3a0101;
}

h3
{
  font-weight: bold;
  display: inline;
  text-align: right;
}


.input x
{
  border: 1px solid black;
  background-color: #8F8F8F;
  color: white;
}

select, option 
{
  background-color:#F3F3F3;
  color: white;
}

option
{
  color: black;
}

select#details
{
  margin-left: 3%;
}

input.bouton
{ 
  width: 100px;
  height: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
