form
{
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	display: block;
	/*height: 100%;*/
}

label
{
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.5rem;
	color: #4d4d4d;
	cursor: text;
	font-family: 'Noto Sans', Sans-Serif;
}

form h1
{
	font-family: 'Roboto', Sans-Serif;
	margin-bottom: 40px;
	margin-left: 8%;
	margin-top: 40px;
	font-size: 2.4em;
	color: #3a0101;
	padding: 0;
}

#actual, #new, #confirm
{
	margin-bottom: 30px;
	margin-left: 8%;
	margin-right: 8%;
	width: 84%;
}

#password, #newpassword, #cnewpassword
{
	width: 100%;
	margin-top: 0.5rem;
	border-color: #c33;
	height: calc(2.7em + 2px);
}

#formaction
{
	margin-left: 8%;
	margin-right: 8%;
	border-top: 1px solid #d9d9d9;
	margin-top: 0.4em;
	padding-top: 1.2em;
	margin-bottom: 60px;
	display: flex;
	justify-content: flex-end;
}

#confirmsub
{
	background: #1b78d0;
	text-transform: uppercase;
	padding: 0.8em 1em;
	border: none;
	cursor: pointer;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	white-space: nowrap;
	display: inline-block;
	transition: all 150ms;
	border-radius: 3px;
	color: white;
	font-family: 'Roboto', Sans-Serif;
	font-weight: 600;
	position: relative;
	right: 0;
}

#confirmsub:hover
{
	background-color: #579fe3;
}