#content
{
	display: flex;
	width: 100%;
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	color: #1a1d21;
	text-rendering: optimizeLegibility;
}

#infosconcert, #main, #statut
{
	display: block;
}

#infosconcert, #statut
{
	width: 25%;
}

#main
{
	width: 40%;
	margin-right: 10%;
}

#infosconcert
{
	margin-right: 5%;
	padding-left: 5%;
}

#statut
{
	margin-left: 5%;
}

.title, h3
{
	font-size: 10px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 1.2px;
	color: #8b9199;
	text-transform: uppercase;
}

#content a
{
	color: #d1363a;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#content h2
{
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 10px;
}

#content form, label
{
	font-size: 12px;
	line-height: 20px;
}

#concon
{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 18px;
}

#confirm
{
	visibility: hidden;
	display: none;
}

#foot
{
	display: flex;
}

textarea
{
	width: 100%;
}

#submit, #edit
{
	border: 0.0625rem solid rgba(0,0,0,0);
	border-radius: 0.1875rem;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	padding: 0.1875rem 2rem;
	text-align: center;
	vertical-align: bottom;
	white-space: nowrap;
	background: #ff7900;
	color: #fff;
	font-weight: 700;
	height: 2rem;
	margin-right: 0.75rem;
}

#button
{
	border: 0.0625rem solid #323d4e;
	border-radius: 0.25rem;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	padding: 0.1875rem 2rem;
	text-align: center;
	vertical-align: bottom;
	white-space: nowrap;
	background: #46556d;
	color: #fff;
	font-weight: 700;
	height: 2rem;
}

#pb
{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #8b9199;
}

footer
{
	position: absolute;
	bottom: 0;
}